<ng-container *ngIf="buildType" [ngSwitch]="buildType">

  <ng-container *ngSwitchCase="'Ok'">
    <h4 id="champion-name-and-title">{{build.champion.name}} - {{build.champion.title}}</h4>
    <img id="champion-img" src="/api/img/champions/{{build.champion.id}}">
    <p id="champion-partype">({{build.champion.partype}})</p>
    <ul id="champion-tags">
      <li class="champion-tag" *ngFor="let tag of build.champion.tags">{{tag}}</li>
    </ul>
    <div>
      <img id="champion-passive-img" src="/api/img/champions/{{build.champion.id}}/passive">
      <p id="champion-passive-name">{{build.champion.passive.name}}</p>
      <p id="champion-passive-description">{{build.champion.passive.description}}</p>
    </div>
    <div class="champion-spell" *ngFor="let spell of build.champion.spells">
      <img class="champion-spell-img" src="/api/img/champions/{{build.champion.id}}/spell/{{spell.key}}">
      <p class="champion-spell-name">{{spell.name}}</p>
      <p class="champion-spell-description">{{spell.description}}</p>
    </div>

    <hr>

    <div>
      <h4 id="troll-build-maps-header">Map</h4>
      <select id="map-select">
        <option class="map-option">
          {{build.map.mapName}}
        </option>
      </select>
      <button id="new-build-btn" (click)="getTrollBuild()">New Build</button>
    </div>

    <hr>

    <div id="troll-build">
      <div>
        <h4 id="troll-build-items-header">Items</h4>
        <div class="troll-build-item">
          <img id="troll-build-item1-img" src="/api/img/items/{{build.item1.id}}">
          {{build.item1.name}}
        </div>
        <div class="troll-build-item">
          <img id="troll-build-item2-img" src="/api/img/items/{{build.item2.id}}">
          {{build.item2.name}}
        </div>
        <div class="troll-build-item">
          <img id="troll-build-item3-img" src="/api/img/items/{{build.item3.id}}">
          {{build.item3.name}}
        </div>
        <div class="troll-build-item">
          <img id="troll-build-item4-img" src="/api/img/items/{{build.item4.id}}">
          {{build.item4.name}}
        </div>
        <div class="troll-build-item">
          <img id="troll-build-item5-img" src="/api/img/items/{{build.item5.id}}">
          {{build.item5.name}}
        </div>
        <div class="troll-build-item">
          <img id="troll-build-item6-img" src="/api/img/items/{{build.item6.id}}">
          {{build.item6.name}}
        </div>
      </div>
      <div>
        <h4 id="troll-build-summoner-spells-header">Summoner Spells</h4>
        <div class="troll-build-summoner-spell">
          <img id="troll-build-summoner-spell1-img" src="/api/img/summoner-spells/{{build.summonerSpell1.id}}">
          {{build.summonerSpell1.name}}
        </div>
        <div class="troll-build-summoner-spell">
          <img id="troll-build-summoner-spell2-img" src="/api/img/summoner-spells/{{build.summonerSpell2.id}}">
          {{build.summonerSpell2.name}}
        </div>
      </div>
      <div>
        <h4 id="troll-build-trinket-header">Trinket</h4>
        <div class="troll-build-trinket">
          <img id="troll-build-trinket-img" src="/api/img/items/{{build.trinket.id}}">
          {{build.trinket.name}}
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'NotFound'">
    <p id="build-not-found-alert">Couldn't find a saved Troll Build with ID {{buildId}}</p>
  </ng-container>

  <ng-container *ngSwitchCase="'InvalidItems'">
    <p id="build-invalid-items-alert">This Troll Build with ID {{buildId}} has become invalid due to outdated Items</p>
  </ng-container>

  <ng-container *ngSwitchCase="'InvalidSummonerSpells'">
    <p id="build-invalid-summoner-spells-alert">This Troll Build with ID {{buildId}} has become invalid due to outdated Summoner Spells</p>
  </ng-container>

  <ng-container *ngSwitchCase="'InvalidTrinket'">
    <p id="build-invalid-trinket-alert">This Troll Build with ID {{buildId}} has become invalid due to an outdated Trinket</p>
  </ng-container>

</ng-container>
