<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <ng-container [ngSwitch]="adminLoginState">
          <ng-container *ngSwitchCase="'BAD_CREDENTIALS'">
            <article id="login-bad-credentials-alert" class="message is-warning">
              <div class="message-body">
                Invalid username and password.
              </div>
            </article>
          </ng-container>
          <ng-container *ngSwitchCase="'UNEXPECTED_ERROR'">
            <article id="login-unexpected-error-alert" class="message is-danger">
              <div class="message-body">
                An unexpected error occurred during authentication. Please try again later.
              </div>
            </article>
          </ng-container>
          <ng-container *ngSwitchCase="'LOGGED_OUT'">
            <article id="logged-out-alert" class="message is-success">
              <div class="message-body">
                You have been successfully logged out.
              </div>
            </article>
          </ng-container>
        </ng-container>
        <form id="admin-login-form" [formGroup]="adminLoginForm" (ngSubmit)="onSubmit()">
          <div class="field">
            <p class="control has-icons-left">
              <input id="username-input" class="input"
                [class.is-danger]="adminLoginForm.get('username').invalid && (adminLoginForm.get('username').dirty || adminLoginForm.get('username').touched)"
                type="text" placeholder="Username" formControlName="username">
              <span class="icon is-small is-left">
                <i class="fa fa-user" aria-hidden="true"></i>
              </span>
            </p>
            <p id="invalid-username-feedback"
              *ngIf="adminLoginForm.get('username').invalid && (adminLoginForm.get('username').dirty || adminLoginForm.get('username').touched)"
              class="help is-danger">
              This field is required
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input id="password-input" class="input"
                [class.is-danger]="adminLoginForm.get('password').invalid && (adminLoginForm.get('password').dirty || adminLoginForm.get('password').touched)"
                type="password" placeholder="Password" formControlName="password">
              <span class="icon is-small is-left">
                <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
            </p>
            <p id="invalid-password-feedback"
              *ngIf="adminLoginForm.get('password').invalid && (adminLoginForm.get('password').dirty || adminLoginForm.get('password').touched)"
              class="help is-danger">
              This field is required
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button id="login-btn" class="button is-success" [class.is-loading]="adminLoginState === 'LOGGING_IN'" type="submit" [disabled]="adminLoginForm.invalid">
                Login
              </button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
