#header {
  background-color: #424242;
}

#header-title {
  background: linear-gradient(#fadf00, #edaa00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
}
