.champion {
  &:hover {
    transform: translateY(-3px);
  }
}

.champion-column {
  padding: 0.5rem;
}

.champion-name {
  color: black;
}

.champion-img {
  border-radius: 5px;
  height: 100px;
  width: 100px;
}

.champion-name {
  text-align: center;
}
