<ng-container *ngIf="(champions$ | async) as champions; else championsLoading">
  <ng-container *ngIf="champions.length; else noChampions">
    <input id="champions-search-input" type="text" placeholder="Search by Champion" [(ngModel)]="championsSearchName"/>

    <button class="champion-tag-btn" *ngFor="let tag of championTags$ | async" (click)="setChampionsFilterTag(tag)">
      {{tag}}
    </button>

    <div class="champion" *ngFor="let champion of (champions | championsNameFilter : championsSearchName | championsTagsFilter : championsFilterTag)">
      <a [routerLink]="['/champions', champion.key]">
        <img src="data:image/png;base64,{{champion.image.imgSrc}}">
        {{champion.name}}
      </a>
    </div>
  </ng-container>

  <ng-template #noChampions>
    <p id="no-champions-alert">No Champions exist in the database!</p>
  </ng-template>
</ng-container>

<ng-template #championsLoading>
  <!-- Loading -->
</ng-template>
