<clr-header id="admin-header" class="header-7">
  <div class="branding">
    <a id="admin-header-title" class="nav-link" routerLink="/admin/login">
      <span class="title">{{header}}</span>
    </a>
  </div>
  <ng-container *ngIf="(adminUserDetails$ | async) as adminUserDetails">
    <div class="header-nav">
      <a id="batch-navbar-item" class="nav-link" routerLink="/admin/batch" routerLinkActive="active">
        <span class="nav-text">Batch</span>
      </a>
      <a id="flyway-navbar-item" class="nav-link" routerLink="/admin/flyway" routerLinkActive="active">
        <span class="nav-text">Flyway</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          <clr-icon shape="user"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <span clrDropdownItem>
            {{adminUserDetails.username | uppercase}}
          </span>
          <button class="button" clrDropdownItem (click)="logout()">
            Logout
          </button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </ng-container>
</clr-header>
