<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ulteraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title layout:title-pattern="$DECORATOR_TITLE | $CONTENT_TITLE" th:text="#{admin.title}">League Troll Build Admin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/semantic/dist/semantic.min.css}" />
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/semantic/dist/semantic.min.js}"></script>
</head>
<body>
<!--/* admin header and nav */-->
<header th:include="fragments/admin/header :: header"></header>
<!--/* admin main content */-->
<div class="ui container" layout:fragment="content"></div>
<!--/* footer */-->
<footer class="ui container" th:include="fragments/footer :: footer"></footer>
</body>
</html>