<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ulteraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" th:content="#{meta.description}" />
    <meta name="keywords" th:content="#{meta.keywords}" />
    <title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE" th:text="#{main.title}">League Troll Build</title>
    <link rel="stylesheet" type="text/css" th:href="@{/semantic-ui/dist/semantic.min.css}" />
    <script th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/semantic-ui/dist/semantic.min.js}"></script>
</head>
<body>
<!--/* header and nav */-->
<header th:include="~{fragments/header :: header}"></header>
<!--/* main content */-->
<div class="ui container">
    <div class="ui main segment" layout:fragment="content"></div>
</div>
<!--/* footer */-->
<footer th:include="~{fragments/footer :: footer}"></footer>
</body>
</html>