@import '~@nebular/theme/styles/global/breakpoints';

.troll-build-object-img {
  border-radius: 5px;
  margin: 0.25em;
  width: 75px;
  height: 75px;
}

@include media-breakpoint-down(sm) {

  $img-size: 55px;

  .troll-build-object-img {
    width: $img-size;
    height: $img-size;
  }

}
