<!-- Items row -->
<div class="ltb-faux-grid">
  <div class="ltb-column" data-e2e="items-row">
    <p class="troll-build-objects-header">Items</p>
    <ul class="ltb-list">
      <li class="ltb-list-item" [nbTooltip]="build.item1.name">
        <img class="troll-build-object-img"
          src="/api/img/items/{{build.item1.id}}" [alt]="build.item1.name">
      </li>
      <li class="ltb-list-item" [nbTooltip]="build.item2.name">
        <img class="troll-build-object-img"
          src="/api/img/items/{{build.item2.id}}" [alt]="build.item2.name">
      </li>
      <li class="ltb-list-item" [nbTooltip]="build.item3.name">
        <img class="troll-build-object-img"
          src="/api/img/items/{{build.item3.id}}" [alt]="build.item3.name">
      </li>
      <li class="ltb-list-item" [nbTooltip]="build.item4.name">
        <img class="troll-build-object-img"
          src="/api/img/items/{{build.item4.id}}" [alt]="build.item4.name">
      </li>
      <li class="ltb-list-item" [nbTooltip]="build.item5.name">
        <img class="troll-build-object-img"
          src="/api/img/items/{{build.item5.id}}" [alt]="build.item5.name">
      </li>
      <li class="ltb-list-item" [nbTooltip]="build.item6.name">
        <img class="troll-build-object-img"
          src="/api/img/items/{{build.item6.id}}" [alt]="build.item6.name">
      </li>
    </ul>
  </div>
</div>
<!-- Summoner Spells and Trinket row -->
<div class="ltb-faux-grid spaced-apart">
  <!-- Summoner Spells -->
  <div class="ltb-block-column" data-e2e="summoner-spells-row">
    <p class="troll-build-objects-header">Summoner Spells</p>
    <ul class="ltb-list">
      <li class="ltb-list-item" [nbTooltip]="build.summonerSpell1.name">
        <img class="troll-build-object-img"
          src="/api/img/summoner-spells/{{build.summonerSpell1.id}}" [alt]="build.summonerSpell2.name">
      </li>
      <li class="ltb-list-item" [nbTooltip]="build.summonerSpell2.name">
        <img class="troll-build-object-img"
          src="/api/img/summoner-spells/{{build.summonerSpell2.id}}" [alt]="build.summonerSpell2.name">
      </li>
    </ul>
  </div>
  <!-- Trinket -->
  <div class="ltb-block-column" data-e2e="trinket-row">
    <p class="troll-build-objects-header">Trinket</p>
    <ul class="ltb-list">
      <li class="ltb-list-item" [nbTooltip]="build.trinket.name">
        <img class="troll-build-object-img"
          src="/api/img/items/{{build.trinket.id}}" [alt]="build.trinket.name">
      </li>
    </ul>
  </div>
</div>
