.label {
  padding-left: 0;
}

.badge {
  margin-right: 2px;
  font-size: 1em;
  height: 0.7rem;
}

.label-warning {
  > .badge {
    background: #fac400;
  }
}

.label-danger {
  > .badge {
    background: #a32100;
  }
}
