 <div id="cpu-usage-card" class="card">
  <div class="card-header">
    CPU Usage
    <button id="refresh-cpu-usage-btn" [disabled]="gettingCpuUsage" class="btn btn-link" (click)="getCpuUsage()">
      <clr-icon shape="refresh"></clr-icon>
    </button>
  </div>
  <div class="card-block">
    <div class="progress top loop" *ngIf="gettingCpuUsage">
      <progress></progress>
    </div>
    <div class="card-text">
      <ng-container *ngIf="(cpuUsage$ | async) as cpuUsage; else loadingCpuUsage">
        <ng-container *ngIf="cpuUsage.percentage && cpuUsage.cpus; else noCpuUsage">
          <div class="stat">
            <p id="cpu-usage" class="label" [ngClass]="getCpuUsageClass(cpuUsage.percentage)">
              <span id="cpu-usage-perc" class="badge">{{cpuUsage.percentage}}%</span>
                of {{cpuUsage.cpus}} CPUs
            </p>
          </div>
        </ng-container>
        <ng-template #noCpuUsage>
          <clr-alert id="no-cpu-usage-alert" [clrAlertType]="'danger'" [clrAlertClosable]="false">
            <clr-alert-item>
              <span class="alert-text">Unable to get CPU Usage</span>
            </clr-alert-item>
          </clr-alert>
        </ng-template>
      </ng-container>
      <ng-template #loadingCpuUsage>
        <div id="loading-cpu-usage" class="stat">
          <p>...</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
