<div class="card" data-e2e="failed-jobs-card">
  <div class="card-header">
    Failed Jobs
    <button [disabled]="gettingFailedJobs" class="btn btn-link" (click)="getFailedJobs()" data-e2e="refresh-failed-jobs-btn">
      <clr-icon shape="refresh"></clr-icon>
    </button>
  </div>
  <div class="card-block">
    <div class="progress top loop" *ngIf="gettingFailedJobs">
      <progress></progress>
    </div>
    <div class="card-text">
      <ng-container *ngIf="(failedJobs$ | async) as failedJobs; else loadingFailedJobs">
        <ng-container *ngIf="failedJobs.toString(); else noFailedJobs">
          <div class="stat">
            <p class="label" [ngClass]="getFailedJobsClass(failedJobs)" data-e2e="failed-jobs">{{failedJobs}}</p>
          </div>
        </ng-container>
        <ng-template #noFailedJobs>
          <clr-alert [attr.data-e2e]="'no-failed-jobs-alert'" [clrAlertType]="'danger'" [clrAlertClosable]="false">
            <clr-alert-item>
              <span class="alert-text">Unable to get Failed Jobs</span>
            </clr-alert-item>
          </clr-alert>
        </ng-template>
      </ng-container>
      <ng-template #loadingFailedJobs>
        <div class="stat" data-e2e="loading-failed-jobs-alert">
          <p>...</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
