<div id="global-errors-card" class="card">
  <div class="card-header">
    Global Errors
    <button id="refresh-global-errors-btn" [disabled]="gettingGlobalErrors" class="btn btn-link" (click)="getGlobalErrors()">
      <clr-icon shape="refresh"></clr-icon>
    </button>
  </div>
  <div class="card-block">
    <div class="progress top loop" *ngIf="gettingGlobalErrors">
      <progress></progress>
    </div>
    <div class="card-text">
      <ng-container *ngIf="(globalErrors$ | async) as servletErrors; else loadingServletErrors">
        <ng-container *ngIf="servletErrors.toString(); else noServletErrors">
          <div class="stat">
            <p id="global-errors" class="label" [ngClass]="getGlobalErrorsClass(servletErrors)">{{servletErrors}}</p>
          </div>
        </ng-container>
        <ng-template #noServletErrors>
          <clr-alert id="no-global-errors-alert" [clrAlertType]="'danger'" [clrAlertClosable]="false">
            <clr-alert-item>
              <span class="alert-text">Unable to get Global Errors</span>
            </clr-alert-item>
          </clr-alert>
        </ng-template>
      </ng-container>
      <ng-template #loadingServletErrors>
        <div id="loading-global-errors-alert" class="stat">
          <p>...</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
