<div class="card" data-e2e="global-errors-card">
  <div class="card-header">
    Global Errors
    <button [disabled]="gettingGlobalErrors" class="btn btn-link" (click)="getGlobalErrors()" data-e2e="refresh-global-errors-btn">
      <clr-icon shape="refresh"></clr-icon>
    </button>
  </div>
  <div class="card-block">
    <div class="progress top loop" *ngIf="gettingGlobalErrors">
      <progress></progress>
    </div>
    <div class="card-text">
      <ng-container *ngIf="(globalErrors$ | async) as servletErrors; else loadingServletErrors">
        <ng-container *ngIf="servletErrors.toString(); else noServletErrors">
          <div class="stat">
            <p class="label" [ngClass]="getGlobalErrorsClass(servletErrors)" data-e2e="global-errors">{{servletErrors}}</p>
          </div>
        </ng-container>
        <ng-template #noServletErrors>
          <clr-alert [attr.data-e2e]="'no-global-errors-alert'" [clrAlertType]="'danger'" [clrAlertClosable]="false">
            <clr-alert-item>
              <span class="alert-text">Unable to get Global Errors</span>
            </clr-alert-item>
          </clr-alert>
        </ng-template>
      </ng-container>
      <ng-template #loadingServletErrors>
        <div class="stat" data-e2e="loading-global-errors-alert">
          <p>...</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
