<div class="card" data-e2e="memory-usage-card">
  <div class="card-header">
    Memory Usage
    <button [disabled]="gettingMemoryUsage" class="btn btn-link" (click)="getMemoryUsage()" data-e2e="refresh-memory-usage-btn">
      <clr-icon shape="refresh"></clr-icon>
    </button>
  </div>
  <div class="card-block">
    <div class="progress top loop" *ngIf="gettingMemoryUsage">
      <progress></progress>
    </div>
    <div class="card-text">
      <ng-container *ngIf="(memoryUsage$ | async) as memoryUsage; else loadingMemoryUsage">
        <ng-container *ngIf="memoryUsage > 0; else noMemoryUsage">
          <div class="stat">
            <p class="label" [ngClass]="getMemoryUsageClass(memoryUsage)" data-e2e="memory-usage">{{memoryUsage}} MB</p>
          </div>
        </ng-container>
        <ng-template #noMemoryUsage>
          <clr-alert [attr.data-e2e]="'no-memory-usage-alert'" [clrAlertType]="'danger'" [clrAlertClosable]="false">
            <clr-alert-item>
              <span class="alert-text">Unable to get Memory Usage</span>
            </clr-alert-item>
          </clr-alert>
        </ng-template>
      </ng-container>
      <ng-template #loadingMemoryUsage>
        <div class="stat" data-e2e="loading-memory-usage-alert">
          <p>...</p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
