@import '~@nebular/theme/styles/global/breakpoints';

#github-link {
  color: darkgrey;
  &:hover {
    color: white;
  }
}

#patch-container {
  margin-top: 2em;
  justify-content: center;
}

@include media-breakpoint-down(md) {
  #footer-grid {
    flex-direction: column;
    .ltb-column {
      margin-right: 20px;
    }
  }

  #about-container {
    margin-bottom: 2em;
  }
}

@include media-breakpoint-up(md) {
  #footer-grid {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
}
