<div id="outdated-browser" *ngIf="isBrowserOutdated">
  <h5>
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    <strong>Your Internet Explorer is outdated</strong>
  </h5>
  <p>
    For the best site experience, upgrade to the latest
    <a href="https://www.microsoft.com/en-us/windows/microsoft-edge">Microsoft Edge</a>,
    <a href="https://chrome.google.com">Google Chrome</a>, or
    <a href="https://mozilla.org/firefox/">Firefox</a>.
  </p>
</div>
<h1 class="header-title">
  <a routerLink="/">{{header}}</a>
</h1>
