.champion {
  &:hover {
    transform: translateY(-3px);
  }
}

.champion-column {
  padding: 0.5rem;
}

.champion-name {
  color: white;
}

.champion-img {
  border-radius: 5px;
  height: 100px;
  width: 100px;
  &:hover {
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 1);
  }
}

.champion-name {
  text-align: center;
}
