<ng-container *ngIf="(champions$ | async) as champions; else championsLoading">
  <section class="section">
    <div class="container">
      <ng-container *ngIf="champions.length; else noChampions">
        <div class="columns is-mobile is-centered">
          <div class="column is-one-quarter-desktop is-two-fifths-tablet is-two-thirds-mobile">
            <p class="control has-icons-right">
              <input id="champions-search-input" class="input is-rounded" type="text" placeholder="Search by Champion"
                  [(ngModel)]="championsSearchName"/>
              <span class="icon is-small is-right">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </p>
          </div>
        </div>

        <div class="buttons has-addons is-centered">
          <span class="champion-tag-btn button is-dark" *ngFor="let tag of championTags$ | async"
              [class.is-active]="tag === championsFilterTag" (click)="setChampionsFilterTag(tag)">
            {{tag}}
          </span>
        </div>

        <div class="columns is-mobile is-gapless is-multiline is-centered">
          <div class="champion" *ngFor="let champion of (champions | championsNameFilter : championsSearchName | championsTagsFilter : championsFilterTag)">
            <div class="column champion-column">
              <a class="champion-link" [routerLink]="['/champions', champion.key]">
                <p class="champion-name">{{champion.name}}</p>
                <img class="champion-img" src="/api/img/champions/{{champion.id}}">
              </a>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-template #noChampions>
        <article id="no-champions-alert" class="message is-warning">
          <div class="message-body">
            <p id="no-champions-alert-msg">No Champions exist in the database!</p>
          </div>
        </article>
      </ng-template>
    </div>
  </section>
</ng-container>

<ng-template #championsLoading>
  <!-- Loading -->
</ng-template>
