@mixin ltb-ribbon() {
  .ltb-has-ribbon {
    position: relative;

    > .ltb-ribbon {
      left: calc(.05rem - 1.2em);
      border-color: black;
      position: absolute;
      top: 1rem;
      background-color: grey;
      padding-left: 1.6em;
      padding-right: 1.5em;
      border-radius: 0 0.2em 0.2em 0;

      &:after {
        position: absolute;
        content: '';
        top: 100%;
        left: 0;
        border-style: solid;
        border-width: 0 1.2em 1.2em 0;
        border-color: transparent;
        border-right-color: inherit;
      }
    }
  }
}
