$tag-background-color: #373737;
$tag-color: #ffffff;

@mixin ltb-tags() {
  .ltb-tag {
    margin-right: 0.5rem;
    background-color: $tag-background-color;
    color: $tag-color;
    border-radius: 4px;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    font-size: 0.75rem;
    height: 2em;
    padding-left: 0.75em;
    padding-right: 0.75em;
  }
}
