<ng-container *ngIf="(champions$ | async) as champions; else championsLoading">
  <ng-container *ngIf="champions.length; else noChampions">
    <div id="search-container" class="ltb-flex centered">
      <div class="ltb-input-inner-addon">
        <input class="ltb-input" nbInput type="text" placeholder="Search by Champion" data-e2e="champions-search-input"
          [(ngModel)]="championsSearchName"/>
        <nb-icon icon="search-outline"></nb-icon>
      </div>
    </div>
    <div id="filter-container" class="ltb-flex centered">
      <div class="ltb-btn-group">
        <button class="ltb-btn" nbButton *ngFor="let tag of championTags$ | async" data-e2e="champion-tag-filter-btn"
          [class.ltb-btn-active]="tag === championsFilterTag" (click)="setChampionsFilterTag(tag)">
          {{tag}}
        </button>
      </div>
    </div>

    <div id="champions-container" class="ltb-flex">
      <ltb-champion-img *ngFor="let champion of (champions | championsNameFilter : championsSearchName | championsTagsFilter : championsFilterTag);
        trackBy: trackByChampions" [champion]="champion">
      </ltb-champion-img>
    </div>
  </ng-container>

  <ng-template #noChampions>
    <nb-alert [attr.data-e2e]="'no-champions-alert'" outline="warning" [class]="'ltb-alert'">
      <span>
        No Champions exist in the database! This may be an application issue, which if it is, the administrator is likely working to fix it.
      </span>
    </nb-alert>
  </ng-template>
</ng-container>

<ng-template #championsLoading>
  <!-- Loading -->
</ng-template>
