:host {
  padding: 0.5rem;
  &:hover {
    transform: translateY(-3px);
  }
}

.champion-name {
  margin: 0;
  text-align: center;
}

.champion-link {
  text-decoration: none;
}

.champion-img {
  border-radius: 5px;
  height: 100px;
  width: 100px;
  &:hover {
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 1);
  }
}
