#champions-container {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

#search-container, #filter-container {
  margin-bottom: 1em;
}

.ltb-input-inner-addon {
  > .ltb-input {
    border-radius: 290486px;
  }
}
