<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin}">
<head>
    <title th:text="#{admin.actuator.flyway}">Flyway</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/media/css/dataTables.semanticui.min.css}" />
    <script th:src="@{/webjars/datatables/media/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/webjars/datatables/media/js/dataTables.semanticui.min.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="ui basic segment">
        <h3 class="ui dividing header" th:text="#{admin.actuator.flyway}">Flyway</h3>

        <table id="flyway" class="ui celled table">
            <thead>
            <tr>
                <th class="four wide" th:text="#{admin.actuator.flyway.version}">Version</th>
                <th class="four wide" th:text="#{admin.actuator.flyway.description}">Description</th>
                <th class="four wide" th:text="#{admin.actuator.flyway.state}">State</th>
                <th class="four wide" th:text="#{admin.actuator.flyway.executionTime}">Execution Time</th>
            </tr>
            </thead>
        </table>
    </div>
    <script th:inline="javascript">
        $(function() {
            $.get(/*[[@{/admin/actuator/flyway}]]*/ '/admin/actuator/flyway', function(data) {
                $('#flyway').DataTable({
                    pageLength: 25,
                    order: [ [0, 'desc'] ],
                    data: data[0].migrations,
                    columns: [
                        { data: 'version' },
                        { data: 'description' },
                        { data: 'state' },
                        { data: null,
                            render: function(data, type, full, meta) {
                                return data.executionTime + ' ms';
                            }
                        }
                    ],
                    language: {
                        emptyTable: /*[[#{dataTables.emptyTable(#{admin.champions})}]]*/ 'dataTables.emptyTable',
                        info: /*[[#{dataTables.info}]]*/ 'dataTables.info',
                        infoEmpty: /*[[#{dataTables.infoEmpty}]]*/ 'dataTables.infoEmpty',
                        infoFiltered: /*[[#{dataTables.infoFiltered}]]*/ 'dataTables.infoFiltered',
                        processing: /*[[#{dataTables.processing}]]*/ 'dataTables.processing',
                        search: /*[[#{dataTables.search}]]*/ 'dataTables.search',
                        zeroRecords: /*[[#{dataTables.zeroRecords(#{admin.champions})}]]*/ 'dataTables.zeroRecords',
                        paginate: {
                            next: /*[[#{dataTables.paginate.next}]]*/ 'dataTables.paginate.next',
                            previous: /*[[#{dataTables.paginate.previous}]]*/ 'dataTables.paginate.previous'
                        }
                    }
                });
            });
        });
    </script>
</div>
</body>
</html>