<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin">
<head>
    <title th:text="#{admin.actuator.health}">Health</title>
</head>
<body>
<div layout:fragment="content">
    <div class="ui basic segment">
        <h3 class="ui dividing header" th:text="#{admin.actuator.health}">Health</h3>

        <div class="ui stackable grid">
            <div class="eight wide column">
                <h2 class="ui header">
                    <i class="database icon"></i>
                    <div class="content">
                        <span id="database"></span>
                        <div id="database-status" class="sub header"></div>
                        <div id="database-test-sql" class="sub header"></div>
                    </div>
                </h2>
            </div>
            <div class="eight wide column">
                <h2 class="ui header">
                    <i class="disk outline icon"></i>
                    <div class="content">
                        <span th:text="#{admin.actuator.health.disk}"></span>
                        <div id="disk-total" class="sub header"></div>
                        <div id="disk-free" class="sub header"></div>
                    </div>
                </h2>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(function() {
            $.ajax({
                url: [[@{/admin/actuator/health}]],
                success: function(data) {
                    $('#database').text(data.db.database);
                    $('#database-status').text(data.db.status);
                    $('#database-test-sql').text(Object.keys(data.db)[2] + ' ' + data.db.hello);
                    $('#disk-total').text([[#{admin.actuator.health.disk.total}]] + ' ' + data.diskSpace.total / 1073741824 + ' GB');
                    $('#disk-free').text([[#{admin.actuator.health.disk.free}]] + ' ' + data.diskSpace.free / 1073741824 + ' GB');
                }
            });
        });
        /*]]>*/
    </script>
</div>
</body>
</html>