<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin">
<head>
    <title th:text="#{admin.actuator.metrics}">Metrics</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="ui dividing header" th:text="#{admin.actuator.metrics}">Metrics</h3>

    <div class="ui two statistics">
        <div class="statistic">
            <div id="uptime" class="value"></div>
            <div class="label" th:text="#{admin.actuator.metrics.uptime}">Uptime</div>
        </div>
        <div class="statistic">
            <div id="instance-uptime" class="value"></div>
            <div class="label" th:text="#{admin.actuator.metrics.instanceUptime}">Instance Uptime</div>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $(function() {
            $.ajax({
                url: [[@{/admin/actuator/metrics}]],
                success: function(data) {
                    var uptime = data.uptime + '';
                    var instanceUptime = data['instance.uptime'] + '';
                    $('#uptime').text(uptime.substring(0, uptime.length - 3));
                    $('#instance-uptime').text(instanceUptime.substring(0, instanceUptime.length - 3));
                }
            });
        });
        /*]]>*/
    </script>
</div>
</body>
</html>