<ng-container *ngIf="champion">
  <h4>{{champion.name}} - {{champion.title}}</h4>
  <img src="data:image/png;base64,{{champion.image.imgSrc}}">
  <p>({{champion.partype}})</p>
  <ul>
    <li *ngFor="let tag of champion.tags">{{tag}}</li>
  </ul>
  <div>
    <img src="data:image/png;base64,{{champion.passive.image.imgSrc}}">
    <p>{{champion.passive.name}}</p>
    <p>{{champion.passive.description}}</p>
  </div>
  <div *ngFor="let spell of champion.spells">
    <img src="data:image/png;base64,{{spell.image.imgSrc}}">
    <p>{{spell.name}}</p>
    <p>{{spell.description}}</p>
  </div>

  <hr>

  <div>
    <h4>Map</h4>
    <select *ngIf="gameMaps" [(ngModel)]="gameMap" (ngModelChange)="getTrollBuild()">
      <option *ngFor="let gameMap of gameMaps" [ngValue]="gameMap">
        {{gameMap.mapName}}
      </option>
    </select>
    <button (click)="getTrollBuild()">New Build</button>
  </div>

  <hr>

  <div *ngIf="(trollBuild$ | async) as trollBuild; else loadingTrollBuild">
    <div>
      <h4>Items</h4>
      <div *ngFor="let item of trollBuild.items">
        <img src="data:image/png;base64,{{item.image.imgSrc}}">
        {{item.name}}
      </div>
    </div>
    <div>
      <h4>Summoner Spells</h4>
      <div *ngFor="let summonerSpell of trollBuild.summonerSpells">
        <img src="data:image/png;base64,{{summonerSpell.image.imgSrc}}">
        {{summonerSpell.name}}
      </div>
    </div>
    <div>
      <h4>Trinket</h4>
      <div>
        <img src="data:image/png;base64,{{trollBuild.trinket.image.imgSrc}}">
        {{trollBuild.trinket.name}}
      </div>
    </div>
    <button (click)="saveBuild(trollBuild)" [disabled]="build">Save Build</button>
    <p *ngIf="build">{{build.selfRef}}</p>
  </div>

  <ng-template #loadingTrollBuild>
    <div>
      <h4>Items</h4>
      <div *ngFor="let item of [0, 1, 2, 3, 4, 5]">
        <img src="assets/images/dummy.png">
      </div>
    </div>
    <div>
      <h4>Summoner Spells</h4>
      <div *ngFor="let summonerSpell of [0, 1]">
        <img src="assets/images/dummy.png">
      </div>
    </div>
    <div>
      <h4>Trinket</h4>
      <div>
        <img src="assets/images/dummy.png">
      </div>
    </div>
  </ng-template>
</ng-container>
