<ng-container *ngIf="champion">
  <h4 id="champion-name-and-title" class="is-capitalized">{{champion.name}} - {{champion.title}}</h4>
  <img src="data:image/png;base64,{{champion.image.imgSrc}}">
  <p id="champion-partype">({{champion.partype}})</p>
  <ul id="champion-tags">
    <li class="champion-tag" *ngFor="let tag of champion.tags">{{tag}}</li>
  </ul>
  <div>
    <img src="data:image/png;base64,{{champion.passive.image.imgSrc}}">
    <p id="champion-passive-name">{{champion.passive.name}}</p>
    <p id="champion-passive-description">{{champion.passive.description}}</p>
  </div>
  <div class="champion-spell" *ngFor="let spell of champion.spells">
    <img src="data:image/png;base64,{{spell.image.imgSrc}}">
    <p class="champion-spell-name">{{spell.name}}</p>
    <p class="champion-spell-description">{{spell.description}}</p>
  </div>

  <hr>

  <div>
    <h4 id="troll-build-maps-header">Map</h4>
    <select id="map-select" *ngIf="gameMaps" [(ngModel)]="gameMap" (ngModelChange)="getTrollBuild()">
      <option class="map-option" *ngFor="let gameMap of gameMaps" [ngValue]="gameMap">
        {{gameMap.mapName}}
      </option>
    </select>
    <button id="new-build-btn" (click)="getTrollBuild()">New Build</button>
  </div>

  <hr>

  <div id="troll-build" *ngIf="(trollBuild$ | async) as trollBuild; else loadingTrollBuild">
    <div>
      <h4 id="troll-build-items-header">Items</h4>
      <div class="troll-build-item" *ngFor="let item of trollBuild.items">
        <img src="data:image/png;base64,{{item.image.imgSrc}}">
        {{item.name}}
      </div>
    </div>
    <div>
      <h4 id="troll-build-summoner-spells-header">Summoner Spells</h4>
      <div class="troll-build-summoner-spell" *ngFor="let summonerSpell of trollBuild.summonerSpells">
        <img src="data:image/png;base64,{{summonerSpell.image.imgSrc}}">
        {{summonerSpell.name}}
      </div>
    </div>
    <div>
      <h4 id="troll-build-trinket-header">Trinket</h4>
      <div class="troll-build-trinket">
        <img src="data:image/png;base64,{{trollBuild.trinket.image.imgSrc}}">
        {{trollBuild.trinket.name}}
      </div>
    </div>
    <button id="save-build-btn" (click)="saveBuild(trollBuild)" [disabled]="build">Save Build</button>
    <p id="saved-build-link" *ngIf="build">{{build.selfRef}}</p>
  </div>

  <ng-template #loadingTrollBuild>
    <div id="troll-build-loading">
      <div>
        <h4 id="troll-build-loading-items-header">Items</h4>
        <div class="troll-build-loading-item" *ngFor="let item of [0, 1, 2, 3, 4, 5]">
          <img src="assets/images/dummy.png">
        </div>
      </div>
      <div>
        <h4 id="troll-build-loading-summoner-spells-header">Summoner Spells</h4>
        <div class="troll-build-loading-summoner-spell" *ngFor="let summonerSpell of [0, 1]">
          <img src="assets/images/dummy.png">
        </div>
      </div>
      <div>
        <h4 id="troll-build-loading-trinket-header">Trinket</h4>
        <div class="troll-build-loading-trinket" *ngFor="let trinket of [0]">
          <img src="assets/images/dummy.png">
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>
