<section class="section">
  <div class="container">
    <h4 class="title is-4">
      Flyway Migrations
      <button id="refresh-failed-jobs-btn" class="button is-white" (click)="getFlyway()">
        <span class="icon">
          <i class="fa fa-refresh" [class.fa-spin]="loadingIndicator" aria-hidden="true"></i>
        </span>
      </button>
    </h4>
    <ngx-datatable
      id="flyway-datatable"
      class="material"
      [trackByProp]="'checksum'"
      [rows]="rows$ | async"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [sortType]="'multi'"
      [loadingIndicator]="loadingIndicator"
      [sorts]="[{ prop: 'script', dir: 'asc' }]">
      <ngx-datatable-column name="Description" prop="description" [width]="150"></ngx-datatable-column>
      <ngx-datatable-column name="Script" prop="script" [width]="250"></ngx-datatable-column>
      <ngx-datatable-column name="State" prop="state" [width]="50"></ngx-datatable-column>
      <ngx-datatable-column name="Installed On" prop="installedOn" [width]="100"></ngx-datatable-column>
      <ngx-datatable-column name="Execution Time" [width]="50">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.executionTime}} ms
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</section>
