<div id="cpu-usage-card" class="card">
  <header class="card-header">
    <p class="card-header-title">
      CPU Usage
      <button id="refresh-cpu-usage-btn" class="button is-white" (click)="getCpuUsage()">
        <span class="icon">
          <i class="fa fa-refresh" [class.fa-spin]="gettingCpuUsage" aria-hidden="true"></i>
        </span>
      </button>
    </p>
  </header>
  <div class="card-content">
    <div class="content">
      <ng-container *ngIf="(cpuUsage$ | async) as cpuUsage; else loadingCpuUsage">
        <ng-container *ngIf="cpuUsage.percentage && cpuUsage.cpus; else noCpuUsage">
          <article class="message">
            <div class="message-body">
              <p id="cpu-usage">
                <span id="cpu-usage-perc" [class]="getCpuUsageClass(cpuUsage.percentage)">{{cpuUsage.percentage}}%</span>
                  of {{cpuUsage.cpus}} CPUs
              </p>
            </div>
          </article>
        </ng-container>
        <ng-template #noCpuUsage>
          <article id="no-cpu-usage-alert" class="message is-danger">
            <div class="message-body">
              <p>Unable to get CPU Usage</p>
            </div>
          </article>
        </ng-template>
      </ng-container>
      <ng-template #loadingCpuUsage>
        <article id="loading-cpu-usage" class="message is-info">
          <div class="message-body">
            <p>...</p>
          </div>
        </article>
      </ng-template>
    </div>
  </div>
</div>
