<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title th:text="|${build.champion.name} #{builds.build}|">Thresh Build</title>
</head>
<body>
<div layout:fragment="content">
    <div class="ui stackable grid">
        <div class="eight wide column">
            <div class="ui stackable grid">
                <div class="row">
                    <div class="twelve wide column">
                        <div class="ui basic segment">
                            <div class="ui divided items">
                                <div class="item">
                                    <div class="ui small image">
                                        <div class="ui grey ribbon label" th:text="${build.champion.partype}">
                                            Mana
                                        </div>
                                        <img th:src="@{/img/champions/{image}.png(image=${build.champion.id})}"/>
                                        <a class="ui bottom attached primary button" th:text="#{champion.newBuild}"
                                           th:href="@{/champions/{key}(key=${build.champion.key})}">
                                        </a>
                                    </div>
                                    <div class="content">
                                        <div id="champion-header" class="header" th:text="${build.champion.name}">
                                            Thresh
                                        </div>
                                        <div class="meta">
                                            <span th:text="${#strings.capitalize(build.champion.title)}">The Chain Warden</span>
                                        </div>
                                        <div class="description">
                                            <div class="extra">
                                                <div class="ui label" th:each="tag : ${build.champion.tags}"
                                                     th:text="${tag}">
                                                    Support
                                                </div>
                                            </div>
                                        </div>
                                        <div class="extra">
                                            <div class="ui form">
                                                <div class="field">
                                                    <label th:text="#{champion.map}">Map</label>
                                                    <select id="map" class="ui dropdown">
                                                        <option th:value="${build.map.mapId}"
                                                                th:text="${T(com.drumonii.loltrollbuild.util.GameMapUtil).getActualMapName(build.map.mapName)}">
                                                            Summoner's Rift
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="sixteen wide column">
                        <div class="ui basic segment">
                            <div class="ui stackable center aligned padded grid">
                                <div class="row">
                                    <div class="sixteen wide column">
                                        <h4 class="ui horizontal divider header" th:text="#{champion.items}">
                                            Items</h4>
                                        <div id="items" class="ui horizontal list" data-model="items">
                                            <div class="item" th:attr="data-html=${build.item1.description}"
                                                 data-variation="wide">
                                                <img class="ui rounded image"
                                                     th:src="@{/img/items/{image}(image=${build.item1.image.full})}"/>
                                            </div>
                                            <div class="item" th:attr="data-html=${build.item2.description}"
                                                 data-variation="wide">
                                                <img class="ui rounded image"
                                                     th:src="@{/img/items/{image}(image=${build.item2.image.full})}"/>
                                            </div>
                                            <div class="item" th:attr="data-html=${build.item3.description}"
                                                 data-variation="wide">
                                                <img class="ui rounded image"
                                                     th:src="@{/img/items/{image}(image=${build.item3.image.full})}"/>
                                            </div>
                                            <div class="item" th:attr="data-html=${build.item4.description}"
                                                 data-variation="wide">
                                                <img class="ui rounded image"
                                                     th:src="@{/img/items/{image}(image=${build.item4.image.full})}"/>
                                            </div>
                                            <div class="item" th:attr="data-html=${build.item5.description}"
                                                 data-variation="wide">
                                                <img class="ui rounded image"
                                                     th:src="@{/img/items/{image}(image=${build.item5.image.full})}"/>
                                            </div>
                                            <div class="item" th:attr="data-html=${build.item6.description}"
                                                 data-variation="wide">
                                                <img class="ui rounded image"
                                                     th:src="@{/img/items/{image}(image=${build.item6.image.full})}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="ten wide column">
                                        <h4 class="ui horizontal divider header"
                                            th:text="#{champion.summonerSpells}">Summoner
                                            Spells</h4>
                                        <div id="summoner-spells" class="ui horizontal list" data-model="summoner-spells">
                                            <div class="item" th:attr="data-html=${build.summonerSpell1.description}"
                                                 data-variation="wide">
                                                <img class="ui rounded image"
                                                     th:src="@{/img/summoner-spells/{image}.png(image=${build.summonerSpell1.id})}"/>
                                            </div>
                                            <div class="item" th:attr="data-html=${build.summonerSpell2.description}"
                                                 data-variation="wide">
                                                <img class="ui rounded image"
                                                     th:src="@{/img/summoner-spells/{image}.png(image=${build.summonerSpell2.id})}"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="six wide column">
                                        <h4 class="ui horizontal divider header" th:text="#{champion.trinket}">
                                            Trinket</h4>
                                        <div id="trinket" class="ui horizontal list" data-model="items">
                                            <div class="item" th:attr="data-html=${build.trinket.description}"
                                                 data-variation="wide">
                                                <img class="ui rounded image"
                                                     th:src="@{/img/items/{image}(image=${build.trinket.image.full})}"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="sixteen wide column">
                    <div class="ui basic segment">
                        <div id="build-form" class="ui form">
                            <div class="fields">
                                <div class="sixteen wide field">
                                    <div class="ui action input">
                                        <input id="build-url-input" type="text" readonly="readonly"
                                               th:value="|https://league-troll-build.herokuapp.com${#httpServletRequest.requestURI}|"/>
                                        <button class="ui right icon button" data-clipboard-target="#build-url-input">
                                            <i class="copy icon"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="eight wide column">
            <div class="ui basic segment">
                <div class="ui divided items">
                    <div class="item">
                        <div class="ui image">
                            <img th:src="@{/img/champions/{id}/passive/{passive}(id=${build.champion.id}, passive=${build.champion.passive.image.full})}"/>
                        </div>
                        <div class="content">
                            <div class="header"
                                 th:text="|${build.champion.passive.name} (#{champion.passive})|">Damnation
                            </div>
                            <div class="description">
                                <p th:utext="${build.champion.passive.description}">Thresh can harvest the souls
                                    of...</p>
                            </div>
                        </div>
                    </div>
                    <div class="item" th:each="spell : ${build.champion.spells}">
                        <div class="ui image">
                            <img th:src="@{/img/champions/{id}/spell/{spellKey}(id=${build.champion.id}, spellKey=${spell.image.full})}"/>
                        </div>
                        <div class="content">
                            <div class="header" th:text="${spell.name}">Death Sentence</div>
                            <div class="description">
                                <p th:utext="${spell.description}">Thresh binds an enemy in chains...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript" th:include="~{builds/js/build.js :: script}"></script>
</div>
</body>
</html>