<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title th:text="#{builds.invalidAttributes.title(${id})}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="ui basic segment">
        <div class="ui one column center aligned page grid">
            <div class="column">
                <h2 class="ui icon header">
                    <i class="huge warning circle icon"></i>
                    <div class="content">
                        <span th:text="#{builds.invalidAttributes(${id})}">This troll build has become invalid...</span>
                    </div>
                </h2>
                <div class="ui divider"></div>
                <h4 th:text="#{builds.invalidAttributes.msg(${latestSavedPatch})}">This troll build...</h4>
                <a class="ui primary button" th:href="@{/}">
                    <i class="home icon"></i><span th:text="#{error.return}">Return to home</span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>