<div id="admin-login-wrapper">
  <div class="login-wrapper">
    <form id="admin-login-form" class="login" [formGroup]="adminLoginForm" (ngSubmit)="onSubmit()">
      <section class="title">
        <h3 id="admin-login-title" class="welcome">Admin Login</h3>
      </section>
      <div class="login-group">
        <clr-input-container>
          <input id="username-input" type="text" name="username" clrInput placeholder="Username" formControlName="username"/>
          <clr-control-error>
            This field is required
          </clr-control-error>
        </clr-input-container>
        <clr-password-container>
          <input id="password-input" type="password" name="password" clrPassword placeholder="Password" formControlName="password"/>
          <clr-control-error>
            This field is required
          </clr-control-error>
        </clr-password-container>
        <ng-container [ngSwitch]="adminLoginState">
          <ng-container *ngSwitchCase="'BAD_CREDENTIALS'">
            <clr-alert [clrAlertType]="'danger'">
              <clr-alert-item>
              <span id="login-bad-credentials-alert" class="alert-text">
                Invalid username and password.
              </span>
              </clr-alert-item>
            </clr-alert>
          </ng-container>
          <ng-container *ngSwitchCase="'UNEXPECTED_ERROR'">
            <clr-alert [clrAlertType]="'danger'">
              <clr-alert-item>
                <span id="login-unexpected-error-alert" class="alert-text">
                  An unexpected error occurred during authentication. Please try again later.
                </span>
              </clr-alert-item>
            </clr-alert>
          </ng-container>
          <ng-container *ngSwitchCase="'LOGGED_OUT'">
            <clr-alert [clrAlertType]="'success'">
              <clr-alert-item>
                <span id="logged-out-alert" class="alert-text">
                  You have been successfully logged out.
                </span>
              </clr-alert-item>
            </clr-alert>
          </ng-container>
        </ng-container>
        <button id="login-btn" class="btn btn-primary" [clrLoading]="adminLoginState === 'LOGGING_IN' ? 1 : 0"
          type="submit" [disabled]="adminLoginForm.invalid">
          Login
        </button>
      </div>
    </form>
  </div>
</div>
