#admin-login-wrapper {
  max-width: 416px;
  margin: auto;
  height: 100%;
}

.login-wrapper {
  background: #22343c;
  border: 1px solid #0f171c;
  border-radius: 2px;
  .login {
    background: none;
    min-height: initial;
    padding: 1rem 1.6rem;
  }
}

#admin-login-title {
  text-align: center;
}
