<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<script th:fragment="script">
/*<![CDATA[*/
$(function() {
    getTrollBuild();
    function getTrollBuild() {
        $.ajax({
            url: [[@{/champions/{id}/troll-build(id=${champion.id})}]],
            beforeSend: function() {
                $('#new-build').addClass('loading');
            },
            success: function(data) {
                $.each(data, function(id, list) {
                    var html = [];
                    $.each(list, function(id, element) {
                        html.push(
                        '<div class="item">' +
                            '<img class="ui rounded image" src="/resources/' + element.image.full + '" />' +
                        '</div>');
                    });
                    $('#' + id).html(html);
                });
            },
            complete: function() {
                $('#new-build').removeClass('loading');
            }
        });
    }
    $('#new-build').click(function() {
        getTrollBuild();
    });
});
/*]]>*/
</script>
</body>
</html>