<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<script th:fragment="script">
/*<![CDATA[*/
$(function() {
    $('.cards .image').dimmer({
        on: 'hover'
    });
    $("#champions-cards").searcher({
        itemSelector: ".card",
        textSelector: "div",
        inputSelector: "#champions-input",
        toggle: function(champion, containsText) {
            if (containsText) {
                $(champion).fadeIn();
            } else {
                $(champion).fadeOut();
            }
        }
    });
});
/*]]>*/
</script>
</body>
</html>