<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<script th:fragment="script">
/*<![CDATA[*/
$(function() {
    var newBuildBtn = $('#new-build');
    newBuildBtn.popup({
        on: 'manual'
    });

    getTrollBuild();

    function getTrollBuild() {
        $.ajax({
            url: [[@{/champions/{id}/troll-build(id=${champion.id})}]],
            beforeSend: function() {
                newBuildBtn.addClass('loading');
            },
            success: function(data) {
                newBuildBtn.popup('hide');
                $.each(data, function(id, list) {
                    var html = [];
                    $.each(list, function(id, element) {
                        html.push(
                        '<div class="item">' +
                            '<img class="ui rounded image" src="/resources/' + element.image.full + '" />' +
                        '</div>');
                    });
                    $('#' + id).html(html);
                });
            },
            error: function() {
                newBuildBtn.popup('show');
            },
            complete: function() {
                newBuildBtn.removeClass('loading');
            }
        });
    }
    newBuildBtn.click(function() {
        getTrollBuild();
    });
});
/*]]>*/
</script>
</body>
</html>