<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin}">
<head>
    <title th:text="#{admin.summonerSpells}">Summoner Spells</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/media/css/dataTables.semanticui.min.css}" />
    <script th:src="@{/webjars/datatables/media/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/webjars/datatables/media/js/dataTables.semanticui.min.js}"></script>
    <style>
        #summoner-spells_filter, #summoner-spells-difference_filter {
            display: none;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div id="summoner-spells-difference-segment" class="ui basic segment" style="display:none;">
        <div class="ui info message">
            <i class="close icon"></i>
            <div class="header" th:text="#{admin.summonerSpells.diff}">Difference in Summoner Spells found</div>
            <p th:text="#{admin.summonerSpells.diff.msg(${latestSavedPatch})}">Differ msg</p>
        </div>
        <div id="summoner-spells-difference-error-msg" class="ui mini negative hidden message">
            <i class="close icon"></i>
            <div class="header">An error has occurred.</div>
        </div>

        <h3 class="ui dividing header" th:text="#{admin.summonerSpells.riot}">Difference in Summoner Spells from Riot</h3>
        <table id="summoner-spells-difference" class="ui celled table" width="100%">
            <thead>
            <tr>
                <th class="one wide"></th>
                <th class="three wide">
                    <div class="ui input">
                        <input class="summoner-spells-difference-search-input"
                               th:placeholder="#{admin.summonerSpell.name.search}" type="text" data-column-index="1"/>
                    </div>
                </th>
                <th class="ten wide"></th>
                <th class="two wide"></th>
            </tr>
            <tr>
                <th class="one wide"></th>
                <th class="three wide" th:text="#{admin.summonerSpell.name}">Name</th>
                <th class="ten wide" th:text="#{admin.summonerSpell.modes}">Modes</th>
                <th class="two wide"></th>
            </tr>
            </thead>
            <tfoot class="full-width">
            <tr>
                <th colspan="4">
                    <form id="save-summoner-spells-form" class="ui form">
                        <div class="ui checkbox">
                            <input id="truncate" type="checkbox" name="truncate"/>
                            <label for="truncate" th:text="#{admin.summonerSpells.trunc}">Truncate</label>
                        </div>
                        <button id="save-summoner-spells-btn" class="ui primary button" type="submit"
                                th:text="#{admin.summonerSpells.save}">Save Summoner Spells
                        </button>
                    </form>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="ui basic segment">
        <div id="summoner-spells-error-msg" class="ui mini negative hidden message">
            <i class="close icon"></i>
            <div class="header">An error has occurred.</div>
        </div>

        <h3 class="ui dividing header" th:text="#{admin.summonerSpells}">Summoner Spells</h3>
        <table id="summoner-spells" class="ui celled table" width="100%">
            <thead>
            <tr>
                <th class="one wide"></th>
                <th class="three wide">
                    <div class="ui input">
                        <input class="summoner-spells-search-input" th:placeholder="#{admin.summonerSpell.name.search}"
                               type="text" data-column-name="name"/>
                    </div>
                </th>
                <th class="eleven wide"></th>
                <th class="one wide"></th>
                <th class="one wide"></th>
            </tr>
            <tr>
                <th class="one wide"></th>
                <th class="three wide" th:text="#{admin.summonerSpell.name}">Name</th>
                <th class="eleven wide" th:text="#{admin.summonerSpell.modes}">Modes</th>
                <th class="one wide"></th>
                <th class="one wide"></th>
            </tr>
            </thead>
        </table>
    </div>
    <script th:inline="javascript" th:include="~{admin/summonerSpells/js/summonerSpells.js :: script}"></script>
</div>
</body>
</html>