<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<footer th:fragment="footer">
    <div class="ui hidden divider"></div>
    <div class="ui inverted segment">
        <div class="ui container">
            <div class="ui inverted divided grid">
                <div class="three wide column">
                    <h4 class="ui inverted header" th:text="#{footer.title}">For Teh Trollz</h4>
                    <div class="ui inverted link list">
                        <a class="item" href="https://github.com/drumonii/LeagueTrollBuild">
                            <i class="github large icon"></i> GitHub
                        </a>
                    </div>
                </div>
                <div class="thirteen wide column">
                    <h4 class="ui inverted header" th:text="#{footer.non-endorsement.header}">Disclaimer</h4>
                    <p th:utext="#{footer.non-endorsement}">Footer Non-Endorsement</p>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>