<ng-container *ngIf="buildType" [ngSwitch]="buildType">
  <section class="section">
    <div class="container">
      <ng-container *ngSwitchCase="'Ok'">
        <!-- Champion row -->
        <div class="columns">
          <div class="column
            is-2-widescreen is-offset-4-widescreen
            is-3-desktop is-offset-2-desktop
            is-3-tablet is-offset-3-tablet
            is-9-mobile is-offset-3-mobile">
            <div id="champion-img-container">
              <div id="champion-partype-ribbon">
                <span id="champion-partype">{{build.champion.partype}}</span>
              </div>
              <img id="champion-img" src="/api/img/champions/{{build.champion.id}}">
              <button id="new-build-btn" class="button is-primary" (click)="getTrollBuild()">New Build</button>
            </div>
          </div>
          <div class="column has-text-centered-mobile">
            <p id="champion-name">{{build.champion.name}}</p>
            <p id="champion-title" class="is-capitalized">{{build.champion.title}}</p>
            <ul id="champion-tags">
              <li class="tag champion-tag is-dark" *ngFor="let tag of build.champion.tags">{{tag}}</li>
            </ul>
            <div class="select">
              <select id="map-select">
                <option class="map-option">
                  {{build.map.mapName}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <ltb-saved-troll-build [build]="build"></ltb-saved-troll-build>
      </ng-container>

      <ng-container *ngSwitchCase="'NotFound'">
        <article class="message is-danger">
          <div class="message-body">
            <p id="build-not-found-alert">Couldn't find a saved Troll Build with ID: {{buildId}}</p>
            <br>
            <a class="button try-random-build" routerLink="/builds">
              Try a random Troll Build
            </a>
          </div>
        </article>
      </ng-container>

      <ng-container *ngSwitchCase="'InvalidItems'">
        <article class="message is-danger">
          <div class="message-body">
            <p id="build-invalid-items-alert">This Troll Build with ID: {{buildId}} has become invalid due to outdated Items</p>
            <br>
            <a class="button try-random-build" routerLink="/builds">
              Try a random Troll Build
            </a>
          </div>
        </article>
      </ng-container>

      <ng-container *ngSwitchCase="'InvalidSummonerSpells'">
        <article class="message is-danger">
          <div class="message-body">
            <p id="build-invalid-summoner-spells-alert">This Troll Build with ID: {{buildId}} has become invalid due to outdated Summoner Spells</p>
            <br>
            <a class="button try-random-build" routerLink="/builds">
              Try a random Troll Build
            </a>
          </div>
        </article>
      </ng-container>

      <ng-container *ngSwitchCase="'InvalidTrinket'">
        <article class="message is-danger">
          <div class="message-body">
            <p id="build-invalid-trinket-alert">This Troll Build with ID: {{buildId}} has become invalid due to an outdated Trinket</p>
            <br>
            <a class="button try-random-build" routerLink="/builds">
              Try a random Troll Build
            </a>
          </div>
        </article>
      </ng-container>
    </div>
  </section>
</ng-container>
