<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">
<head>
    <title th:text="#{error.code(${status})}">Error code: ...</title>
</head>
<body>
<div layout:fragment="content">
    <div class="ui one column center aligned page grid">
        <div class="column">
            <h2 class="ui icon header">
                <i class="huge frown icon"></i>
                <div class="content">
                    <span th:text="#{error.500}" th:remove="tag">An error has occurred.</span>
                    <div class="sub header" th:text="#{error.code(${status})}">Error code: ...</div>
                </div>
            </h2>
            <div class="ui divider"></div>
            <h4 th:text="#{error.500.msg}">Sorry about that...</h4>
            <a class="ui primary button" th:href="@{/}">
                <i class="home icon"></i><span th:text="#{error.return}">Return to home</span>
            </a>
        </div>
    </div>
</div>
</body>
</html>