<nav id="admin-header" class="navbar is-dark">
  <div class="container">
    <div class="navbar-brand">
      <a id="admin-header-title" class="navbar-item" routerLink="/admin/login">
        {{header}}
      </a>
      <div id="burger-collapse" class="navbar-burger burger" [class.is-active]="isAdminCollapsed" data-target="admin-nav"
        (click)="toggleAdminCollapse()">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="admin-nav" class="navbar-menu" [class.is-active]="isAdminCollapsed" *ngIf="(adminUserDetails$ | async) as adminUserDetails">
      <div class="navbar-start">
        <a id="batch-navbar-item" class="navbar-item" routerLink="/admin/batch" routerLinkActive="is-active">
          Batch
        </a>
        <a id="flyway-navbar-item" class="navbar-item" routerLink="/admin/flyway" routerLinkActive="is-active">
          Flyway
        </a>
      </div>

      <div id="authenticated-admin-navbar-end" class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
          </div>
          <div class="navbar-dropdown">
            <div class="navbar-item">
              {{adminUserDetails.username | uppercase}}
            </div>
            <hr class="navbar-divider">
            <div class="navbar-item">
              <button id="admin-logout-btn" class="button" (click)="logout()">
                Logout
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
