/* Variables */

$family-sans-serif: 'Muli', sans-serif;
$primary: #258887;
$text: white;

// Font
@import url('https://fonts.googleapis.com/css?family=Muli');

/* Bulma */

// Base
@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';

// Elements
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/elements/form.sass';
@import '../node_modules/bulma/sass/elements/icon.sass';
@import '../node_modules/bulma/sass/elements/tag.sass';
@import '../node_modules/bulma/sass/elements/title.sass';

// Components
@import '../node_modules/bulma/sass/components/card.sass';
@import '../node_modules/bulma/sass/components/message.sass';

// Grid
@import '../node_modules/bulma/sass/grid/columns.sass';

// Layout
@import '../node_modules/bulma/sass/layout/footer.sass';
@import '../node_modules/bulma/sass/layout/section.sass';

/* Global styles */

body {
  background: black url('assets/images/background.jpg') no-repeat center 80px;
  min-height: 100vh;
}
