$family-sans-serif: 'Muli', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Muli');

@import "../node_modules/bulma/bulma"; // TODO: Only import what's needed

body {
  background: black url('assets/images/background.jpg') no-repeat center 80px;
  min-height: 100vh;
}
