<section class="section">
  <div class="container">
    <h4 class="title is-4">
      Job Instances
      <button id="refresh-failed-jobs-btn" class="button is-white"
        (click)="getBatchJobInstances({ page: page.offset, size: page.limit, sort: getSorts() })">
        <span class="icon">
          <i class="fa fa-refresh" [class.fa-spin]="loadingIndicator" aria-hidden="true"></i>
        </span>
      </button>
    </h4>
    <article id="failed-job-alert" class="message is-danger" *ngIf="(hasFailedAllRetrievalsJob$ | async)">
      <div class="message-body">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        The most recent allRetrievalsJob run failed or has been hanging for more than {{minutesAgo}} minutes ago.
        Try restarting the allRetrievalsJob manually.
        <button id="restart-job-btn" class="button" [class.is-loading]="restartingAllRetrievalsJob" (click)="restartAllRetrievalsJob()">
          Restart
        </button>
      </div>
    </article>
    <ngx-datatable
      #batchJobsDatatable
      id="batch-jobs-datatable"
      class="material expandable"
      [trackByProp]="'id'"
      [rows]="rows"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'"
      [sortType]="'multi'"
      [loadingIndicator]="loadingIndicator"
      [sorts]="sorts"
      [count]="page.count"
      [offset]="page.offset"
      [limit]="page.limit"
      [externalPaging]="true"
      [externalSorting]="true"
      (page)="setPage($event)"
      (sort)="setSort($event)">
      <!-- Row detail -->
      <ngx-datatable-row-detail [rowHeight]="100">
        <ng-template let-row="row" ngx-datatable-row-detail-template>
          <ng-container *ngIf="row.jobExecution?.stepExecutions; else loadingStepExecutions">
            <table class="table" width="100%">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Completion Time</th>
                  <th>Status</th>
                  <th>Read Count</th>
                  <th>Filter Count</th>
                  <th>Write Count</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let stepExecution of row.jobExecution.stepExecutions">
                  <td>{{stepExecution.name}}</td>
                  <td>{{stepExecution.startTime}}</td>
                  <td>{{stepExecution.endTime}}</td>
                  <td>{{getCompletionTime(stepExecution.startTime, stepExecution.endTime)}}</td>
                  <td [ngClass]="getStatusClass({ value: stepExecution.status })">{{stepExecution.status}}</td>
                  <td>{{stepExecution.readCount}}</td>
                  <td>{{stepExecution.filterCount}}</td>
                  <td>{{stepExecution.writeCount}}</td>
                </tr>
              </tbody>
            </table>
          </ng-container>
          <ng-template #loadingStepExecutions>
            <p>Loading Step Executions</p>
          </ng-template>
        </ng-template>
      </ngx-datatable-row-detail>
      <!-- Columns -->
      <ngx-datatable-column
        [width]="60"
        [resizeable]="false"
        [sortable]="false"
        [draggable]="false"
        [canAutoResize]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <button class="button is-white" [disabled]="row.name === 'allRetrievalsJob'"
            [class.datatable-icon-right]="!expanded"
            [class.datatable-icon-down]="expanded"
            title="Expand/Collapse Row"
            (click)="toggleExpandRow(row)">
          </button>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Id" prop="id" [width]="40"></ngx-datatable-column>
      <ngx-datatable-column name="Name" prop="name"></ngx-datatable-column>
      <ngx-datatable-column name="Status" prop="jobExecution.status" [cellClass]="getStatusClass"></ngx-datatable-column>
      <ngx-datatable-column name="Start Time" prop="jobExecution.startTime"></ngx-datatable-column>
      <ngx-datatable-column name="End Time" prop="jobExecution.endTime"></ngx-datatable-column>
      <ngx-datatable-column name="Completion Time" [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{getCompletionTime(row.jobExecution.startTime, row.jobExecution.endTime)}}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</section>
