#champion-img {
  width: 100%;
  display: block;
  border-radius: 5px 5px 0 0;
}

#champion-info {
  height: 160px;
}

#champion-name {
  margin-top: 0.5em;
  font-size: 1.6em;
}

#champion-title {
  margin-bottom: 1em;
  font-size: 1.1em;
  text-transform: capitalize;
}

#champion-tags {
  margin-bottom: 1rem;
}

#new-build-btn {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}
