<ng-container *ngIf="champion">
  <div class="ltb-faux-grid centered">
    <!-- champion info row -->
    <div class="ltb-column">
      <div class="ltb-faux-grid">
        <!-- champion img column -->
        <div class="ltb-column">
          <div class="ltb-has-ribbon">
            <div class="ltb-ribbon">
              <span data-e2e="champion-partype">{{champion.partype}}</span>
            </div>
            <img id="champion-img" src="/api/img/champions/{{champion.id}}" [alt]="champion.key">
            <button id="new-build-btn" class="ltb-btn" nbButton [nbSpinner]="trollBuildLoading" (click)="getTrollBuild()">
              New Build
            </button>
          </div>
        </div>
        <!-- champion info column -->
        <div class="ltb-column">
          <div id="champion-info" class="ltb-flex column-direction space-between">
            <div>
              <p id="champion-name">{{champion.name}}</p>
              <p id="champion-title">{{champion.title}}</p>
              <ul id="champion-tags">
                <li class="ltb-tag" *ngFor="let tag of champion.tags">{{tag}}</li>
              </ul>
            </div>
            <div>
              <ng-container *ngIf="(gameMaps$ | async) as gameMaps; else loadingMaps">
                <nb-select class="ltb-select" [(selected)]="gameMap" (selectedChange)="getTrollBuild()" data-e2e="map-select">
                  <nb-option class="ltb-option" *ngFor="let gameMap of gameMaps" [value]="gameMap">
                    {{gameMap.mapName}}
                  </nb-option>
                </nb-select>
              </ng-container>
              <ng-template #loadingMaps>
                <nb-select class="ltb-select" [nbSpinner]="true" data-e2e="map-select-loading">
                  <nb-option class="ltb-option">
                    Fetching maps...
                  </nb-option>
                </nb-select>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- troll build row -->
  <div class="ltb-faux-grid centered">
    <div class="ltb-column">
      <ng-container *ngIf="(trollBuild$ | async) as trollBuild; else loadingTrollBuild">
        <ng-container *ngIf="trollBuild.items && trollBuild.summonerSpells && trollBuild.trinket; else noTrollBuild">
          <ltb-troll-build [trollBuild]="trollBuild" [buildSaving]="buildSaving" [build$]="build$"
            (saveTrollBuildEvent)="saveBuild($event)">
          </ltb-troll-build>
        </ng-container>
        <ng-template #noTrollBuild>
          <nb-alert [attr.data-e2e]="'no-troll-build-alert'" outline="danger" [class]="'ltb-alert'">
            An error has occurred while generating a Troll Build. Please try again later.
          </nb-alert>
        </ng-template>
      </ng-container>
      <ng-template #loadingTrollBuild>
        <ltb-troll-build [trollBuild]="null" [build$]="build$">
        </ltb-troll-build>
      </ng-template>
    </div>
  </div>
</ng-container>
