<!-- Items row -->
<div class="ltb-faux-grid">
  <div class="ltb-column" data-e2e="items-row">
    <p class="troll-build-objects-header">Items</p>
    <ul class="ltb-list">
      <ng-container *ngIf="trollBuild; else loadingTrollBuildItems">
        <li class="ltb-list-item"
          *ngFor="let item of trollBuild.items; trackBy: trackByItems" [nbTooltip]="item.name">
          <img class="troll-build-object-img" src="/api/img/items/{{item.id}}" [alt]="item.name">
        </li>
      </ng-container>
      <ng-template #loadingTrollBuildItems>
        <li class="ltb-list-item" *ngFor="let _item of [0, 1, 2, 3, 4, 5]">
          <img class="troll-build-object-img" src="assets/images/dummy_item.png" alt="item loading">
        </li>
      </ng-template>
    </ul>
  </div>
</div>
<!-- Summoner Spells and Trinket row -->
<div class="ltb-faux-grid spaced-apart">
  <!-- Summoner Spells -->
  <div class="ltb-block-column" data-e2e="summoner-spells-row">
    <p class="troll-build-objects-header">Summoner Spells</p>
    <ul class="ltb-list">
      <ng-container *ngIf="trollBuild; else loadingTrollBuildSummonerSpells">
        <li class="ltb-list-item"
          *ngFor="let summonerSpell of trollBuild.summonerSpells; trackBy: trackBySummonerSpells" [nbTooltip]="summonerSpell.name">
          <img class="troll-build-object-img" src="/api/img/summoner-spells/{{summonerSpell.id}}" [alt]="summonerSpell.name">
        </li>
      </ng-container>
      <ng-template #loadingTrollBuildSummonerSpells>
        <li class="ltb-list-item" *ngFor="let _summonerSpell of [0, 1]">
          <img class="troll-build-object-img" src="assets/images/dummy_item.png" alt="summoner spell loading">
        </li>
      </ng-template>
    </ul>
  </div>
  <!-- Trinket -->
  <div class="ltb-block-column" data-e2e="trinket-row">
    <p class="troll-build-objects-header">Trinket</p>
    <ul class="ltb-list">
      <ng-container *ngIf="trollBuild; else loadingTrollBuildTrinket">
        <li class="ltb-list-item" [nbTooltip]="trollBuild.trinket.name">
          <img class="troll-build-object-img" src="/api/img/items/{{trollBuild.trinket.id}}" [alt]="trollBuild.trinket.name">
        </li>
      </ng-container>
      <ng-template #loadingTrollBuildTrinket>
        <li class="ltb-list-item" *ngFor="let _trinket of [0]">
          <img class="troll-build-object-img" src="assets/images/dummy_item.png" alt="trinket loading">
        </li>
      </ng-template>
    </ul>
  </div>
</div>

<!-- Save build row -->
<!--<ng-container *ngIf="(build$ | async) as build; else noSavedBuild">-->
<!--  <div class="ltb-input-appended-addon">-->
<!--    <input class="ltb-input" nbInput fullWidth type="text" readonly [value]="build.selfRef" #savedBuildLink-->
<!--      data-e2e="saved-build-input-link">-->
<!--    <button class="ltb-addon" nbButton (click)="copyBuildToClipboard(savedBuildLink)" data-e2e="copy-build-link-btn">-->
<!--      <nb-icon icon="copy-outline"></nb-icon>-->
<!--    </button>-->
<!--  </div>-->
<!--</ng-container>-->
<!--<ng-template #noSavedBuild>-->
<!--  <div class="ltb-faux-grid centered-desktop">-->
<!--    <div class="ltb-column">-->
<!--      <ng-container *ngIf="trollBuild; else loadingTrollBuild">-->
<!--        <button class="ltb-btn" nbButton (click)="saveBuild()" [nbSpinner]="buildSaving" [disabled]="buildSaving" data-e2e="save-build-btn">-->
<!--          Save Build-->
<!--        </button>-->
<!--      </ng-container>-->
<!--      <ng-template #loadingTrollBuild>-->
<!--        <button class="ltb-btn" nbButton [disabled]="true" data-e2e="save-build-btn-loading">Save Build</button>-->
<!--      </ng-template>-->
<!--    </div>-->
<!--  </div>-->
<!--</ng-template>-->
