<h3>
  Flyway Migrations
  <button [disabled]="loading" class="btn btn-link" (click)="getFlyway()" data-e2e="refresh-flyway-btn">
    <clr-icon shape="refresh"></clr-icon>
  </button>
</h3>
<clr-datagrid [attr.data-e2e]="'flyway-datatable'" [clrDgLoading]="loading">
  <clr-dg-column [clrDgField]="'description'">Description</clr-dg-column>
  <clr-dg-column [clrDgField]="'script'">Script</clr-dg-column>
  <clr-dg-column [clrDgField]="'state'">State</clr-dg-column>
  <clr-dg-column [clrDgField]="'installedOn'">Installed On</clr-dg-column>
  <clr-dg-column [clrDgField]="'executionTime'" [clrDgColType]="'number'">Execution Time</clr-dg-column>

  <clr-dg-row *clrDgItems="let migration of flyway$ | async; trackBy: trackByFlyway">
    <clr-dg-cell>{{migration.description}}</clr-dg-cell>
    <clr-dg-cell>{{migration.script}}</clr-dg-cell>
    <clr-dg-cell>{{migration.state}}</clr-dg-cell>
    <clr-dg-cell>{{migration.installedOn}}</clr-dg-cell>
    <clr-dg-cell>{{migration.executionTime}} ms</clr-dg-cell>
  </clr-dg-row>

</clr-datagrid>
