<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin}">
<head>
    <title th:text="#{admin.champions}">Champions</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/media/css/dataTables.semanticui.min.css}" />
    <script th:src="@{/webjars/datatables/media/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/webjars/datatables/media/js/dataTables.semanticui.min.js}"></script>
    <style>
        #champions_filter, #champions-difference_filter {
            display: none;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div id="champions-difference-segment" class="ui basic segment" style="display:none;">
        <div class="ui info message">
            <i class="close icon"></i>
            <div class="header" th:text="#{admin.champions.diff}">Difference in Champions found</div>
            <p th:text="#{admin.champions.diff.msg(${latestSavedPatch})}">Differ msg</p>
        </div>
        <div id="champions-difference-error-msg" class="ui mini negative hidden message">
            <i class="close icon"></i>
            <div class="header">An error has occurred.</div>
        </div>

        <h3 class="ui dividing header" th:text="#{admin.champions.riot}">Difference in Champions from Riot</h3>
        <table id="champions-difference" class="ui celled table" width="100%">
            <thead>
            <tr>
                <th class="one wide"></th>
                <th class="three wide">
                    <div class="ui input">
                        <input class="champions-different-search-input" th:placeholder="#{admin.champion.name.search}"
                               type="text" data-column-index="1" size="15"/>
                    </div>
                </th>
                <th class="four wide">
                    <div class="ui input">
                        <input class="champions-different-search-input" th:placeholder="#{admin.champion.title.search}"
                               type="text" data-column-index="2" size="20"/>
                    </div>
                </th>
                <th class="four wide">
                    <div class="ui input">
                        <input class="champions-different-search-input" th:placeholder="#{admin.champion.tags.search}"
                               type="text" data-column-index="3" size="15"/>
                    </div>
                </th>
                <th class="two wide">
                    <div class="ui input">
                        <input class="champions-different-search-input" th:placeholder="#{admin.champion.partype.search}"
                               type="text" data-column-index="4" size="15"/>
                    </div>
                </th>
                <th class="two wide"></th>
            </tr>
            <tr>
                <th class="one wide"></th>
                <th class="three wide" th:text="#{admin.champion.name}">Name</th>
                <th class="four wide" th:text="#{admin.champion.title}">Title</th>
                <th class="four wide" th:text="#{admin.champion.tags}">Tags</th>
                <th class="two wide" th:text="#{admin.champion.partype}">Partype</th>
                <th class="two wide"></th>
            </tr>
            </thead>
            <tfoot class="full-width">
            <tr>
                <th colspan="6">
                    <form id="save-champions-form" class="ui form">
                        <div class="ui checkbox">
                            <input id="truncate" type="checkbox" name="truncate"/>
                            <label for="truncate" th:text="#{admin.champions.trunc}">Truncate</label>
                        </div>
                        <button id="save-champions-btn" type="submit" class="ui primary button"
                                th:text="#{admin.champions.save}">Save Champions
                        </button>
                    </form>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>

    <div id="champions-segment" class="ui basic segment">
        <div id="champions-error-msg" class="ui mini negative hidden message">
            <i class="close icon"></i>
            <div class="header">An error has occurred.</div>
        </div>

        <h3 class="ui dividing header" th:text="#{admin.champions}">Champions</h3>
        <table id="champions" class="ui celled table" width="100%">
            <thead>
            <tr>
                <th class="one wide"></th>
                <th class="two wide">
                    <div class="ui input">
                        <input class="champions-search-input" th:placeholder="#{admin.champion.name.search}"
                               type="text" data-column-name="name" size="15"/>
                    </div>
                </th>
                <th class="four wide">
                    <div class="ui input">
                        <input class="champions-search-input" th:placeholder="#{admin.champion.title.search}"
                               type="text" data-column-name="title" size="20"/>
                    </div>
                </th>
                <th class="four wide">
                    <div class="ui disabled input">
                        <input class="champions-search-input" th:placeholder="#{admin.champion.tags.search}"
                               type="text" data-column-name="tags" size="15"/>
                    </div>
                </th>
                <th class="three wide">
                    <div class="ui input">
                        <input class="champions-search-input" th:placeholder="#{admin.champion.partype.search}"
                               type="text" data-column-name="partype" size="15"/>
                    </div>
                </th>
                <th class="one wide"></th>
                <th class="one wide"></th>
            </tr>
            <tr>
                <th class="one wide"></th>
                <th class="two wide" th:text="#{admin.champion.name}">Name</th>
                <th class="four wide" th:text="#{admin.champion.title}">Title</th>
                <th class="four wide" th:text="#{admin.champion.tags}">Tags</th>
                <th class="three wide" th:text="#{admin.champion.partype}">Partype</th>
                <th class="one wide"></th>
                <th class="one wide"></th>
            </tr>
            </thead>
        </table>
    </div>
    <script th:inline="javascript" th:include="~{admin/champions/js/champions.js :: script}"></script>
</div>
</body>
</html>