<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/main">
<head>

</head>
<body>
<div layout:fragment="content">
    <div th:each="champion : ${champions}">
        <h3 th:text="${champion.name}">Thresh</h3>
        <a th:href="@{/champions/{key}(key=${champion.key})}">
            <img th:src="@{/resources/{image}(image=${champion.image.full})}" />
        </a>
        <p th:text="${champion.title}">The Chain Warden</p>
    </div>
</div>
</body>
</html>