<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <script th:src="@{/webjars/isotope/dist/isotope.pkgd.min.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="ui basic segment">
        <div class="ui centered grid" th:unless="${#lists.isEmpty(champions)}">
            <div class="centered aligned column">
                <div class="ui search">
                    <div class="ui icon input">
                        <input id="champions-search-input" class="prompt" th:placeholder="#{champions.search}" type="text"/>
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui centered grid" th:unless="${#lists.isEmpty(champions)}">
            <div class="centered aligned column">
                <div id="champion-tags-filter-button-group" class="ui buttons">
                    <button class="ui active button" th:text="#{champions.showAll}" data-champion-tag-filter="*">Show
                        All
                    </button>
                    <button class="ui filter button" th:each="tag : ${tags}" th:text="${tag}"
                            th:attr="data-champion-tag-filter=${tag}">
                    </button>
                </div>
            </div>
        </div>
        <div class="ui hidden divider" th:unless="${#lists.isEmpty(champions)}"></div>
        <div id="champions-cards" class="ui ten link cards" th:unless="${#lists.isEmpty(champions)}">
            <div class="card" th:each="champion : ${champions}">
                <div class="dimmable image">
                    <div class="ui dimmer">
                        <div class="content" th:attr="data-champion-tags=${champion.tags}">
                            <a th:href="@{/champions/{key}(key=${champion.key})}">
                                <p th:text="${champion.name}">Thresh</p>
                            </a>
                        </div>
                    </div>
                    <img class="ui rounded image" th:src="@{/img/champions/{image}.png(image=${champion.id})}"/>
                </div>
            </div>
        </div>
        <div class="ui warning message" th:if="${#lists.isEmpty(champions)}">
            <div class="header">
                <i class="warning circle icon"></i>
                <span th:text="#{champions.empty.header}">No Champions exist in the database!</span>
            </div>
            <p>
                <a th:href="@{/admin}" th:text="#{login}">Login</a>
                <span th:text="#{champions.empty}">to the administration area in order to add Champions from Riot.</span>
            </p>
        </div>
    </div>
    <script th:inline="javascript" th:include="champions/js/champions.js :: script"></script>
</div>
</body>
</html>