<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title th:text="${champion.name}">Thresh</title>
    <script th:src="@{/webjars/clipboard/dist/clipboard.min.js}"></script>
</head>
<body>
<div layout:fragment="content">
    <div class="ui stackable grid">
        <div id="champion-error-msg" class="sixteen wide column" style="display:none;">
            <div class="ui basic segment">
                <div class="ui mini negative message">
                    <i class="close icon"></i>
                    <div class="header">An error has occurred.</div>
                </div>
            </div>
        </div>
        <div class="eight wide column">
            <div class="ui stackable grid">
                <div class="row">
                    <div class="twelve wide column">
                        <div class="ui basic segment">
                            <div class="ui divided items">
                                <div class="item">
                                    <div class="ui small image">
                                        <div class="ui grey ribbon label" th:text="${champion.partype}">Mana</div>
                                        <img th:src="@{/img/champions/{image}.png(image=${champion.id})}"/>
                                        <div id="new-build" class="ui bottom attached primary button"
                                             th:text="#{champion.newBuild}">
                                            New Build
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div id="champion-header" class="header"
                                             th:text="${champion.name}" th:attr="data-champion-id=${champion.id}">
                                            Thresh
                                        </div>
                                        <div class="meta">
                                            <span th:text="${#strings.capitalize(champion.title)}">The Chain Warden</span>
                                        </div>
                                        <div class="description">
                                            <div class="extra">
                                                <div class="ui label" th:each="tag : ${champion.tags}"
                                                     th:text="${tag}">
                                                    Support
                                                </div>
                                            </div>
                                        </div>
                                        <div class="extra">
                                            <div class="ui form">
                                                <div class="field">
                                                    <label th:text="#{champion.map}">Map</label>
                                                    <select id="map" class="ui dropdown">
                                                        <option th:each="map : ${maps}"
                                                                th:value="${map.mapId}" th:text="${map.mapName}"
                                                                th:attr="data-map-id=${map.mapId}"
                                                                th:selected="${map.mapId} == 11">Summoner's Rift
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="sixteen wide column">
                        <div id="build-segment" class="ui basic segment">
                            <div class="ui stackable center aligned padded grid">
                                <div class="row">
                                    <div class="sixteen wide column">
                                        <h4 class="ui horizontal divider header" th:text="#{champion.items}">
                                            Items</h4>
                                        <div id="items" class="ui horizontal list" data-model="items">
                                            <!--/* dummy data replaced by js */-->
                                            <div data-variation="wide" class="item">
                                                <img th:src="@{/images/dummy.png}" class="ui rounded image"/>
                                            </div>
                                            <div data-variation="wide" class="item">
                                                <img th:src="@{/images/dummy.png}" class="ui rounded image"/>
                                            </div>
                                            <div data-variation="wide" class="item">
                                                <img th:src="@{/images/dummy.png}" class="ui rounded image"/>
                                            </div>
                                            <div data-variation="wide" class="item">
                                                <img th:src="@{/images/dummy.png}" class="ui rounded image"/>
                                            </div>
                                            <div data-variation="wide" class="item">
                                                <img th:src="@{/images/dummy.png}" class="ui rounded image"/>
                                            </div>
                                            <div data-variation="wide" class="item">
                                                <img th:src="@{/images/dummy.png}" class="ui rounded image"/>
                                            </div>
                                            <div data-variation="wide" class="item">
                                                <img th:src="@{/images/dummy.png}" class="ui rounded image"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="ten wide column">
                                        <h4 class="ui horizontal divider header"
                                            th:text="#{champion.summonerSpells}">Summoner
                                            Spells</h4>
                                        <div id="summoner-spells" class="ui horizontal list"
                                             data-model="summoner-spells">
                                            <!--/* dummy data replaced by js */-->
                                            <div data-variation="wide" class="item">
                                                <img th:src="@{/images/dummy.png}" class="ui rounded image"/>
                                            </div>
                                            <div data-variation="wide" class="item">
                                                <img th:src="@{/images/dummy.png}" class="ui rounded image"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="six wide column">
                                        <h4 class="ui horizontal divider header" th:text="#{champion.trinket}">
                                            Trinket</h4>
                                        <div id="trinket" class="ui horizontal list" data-model="items">
                                            <!--/* dummy data replaced by js */-->
                                            <div data-variation="wide" class="item">
                                                <img th:src="@{/images/dummy.png}" class="ui rounded image"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="sixteen wide column">
                        <div class="ui basic segment">
                            <div id="build-form" class="ui form">
                                <div class="fields">
                                    <div class="thirteen wide field">
                                        <div class="ui action input">
                                            <input id="build-url-input" type="text" readonly="readonly"/>
                                            <button id="copy-button" class="ui right icon button"
                                                    data-clipboard-target="#build-url-input">
                                                <i class="copy icon"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="two wide field">
                                        <button id="build-submit-btn" class="ui submit grey button"
                                                th:text="#{builds.save}">Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="eight wide column">
            <div class="ui basic segment">
                <div class="ui divided items">
                    <div class="item">
                        <div class="ui image">
                            <img th:src="@{/img/champions/{id}/passive/{passive}(id=${champion.id}, passive=${champion.passive.image.full})}"/>
                        </div>
                        <div class="content">
                            <div class="header" th:text="|${champion.passive.name} (#{champion.passive})|">Damnation
                            </div>
                            <div class="description">
                                <p th:utext="${champion.passive.description}">Thresh can harvest the souls of...</p>
                            </div>
                        </div>
                    </div>
                    <div class="item" th:each="spell : ${champion.spells}">
                        <div class="ui image">
                            <img th:src="@{/img/champions/{id}/spell/{spellKey}(id=${champion.id}, spellKey=${spell.image.full})}"/>
                        </div>
                        <div class="content">
                            <div class="header" th:text="${spell.name}">Death Sentence</div>
                            <div class="description">
                                <p th:utext="${spell.description}">Thresh binds an enemy in chains...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript" th:include="~{champions/js/champion.js :: script}"></script>
</div>
</body>
</html>