<ng-container *ngIf="buildType" [ngSwitch]="buildType">
  <section class="section">
    <div class="container">
      <ng-container *ngSwitchCase="'Ok'">
        <!-- Champion row -->
        <div class="columns">
          <div class="column
            is-2-widescreen is-offset-4-widescreen
            is-3-desktop is-offset-2-desktop
            is-3-tablet is-offset-3-tablet
            is-9-mobile is-offset-3-mobile">
            <div id="champion-img-container">
              <div id="champion-partype-ribbon">
                <span id="champion-partype">{{build.champion.partype}}</span>
              </div>
              <img id="champion-img" src="/api/img/champions/{{build.champion.id}}">
              <button id="new-build-btn" class="button is-primary" (click)="getTrollBuild()">New Build</button>
            </div>
          </div>
          <div class="column has-text-centered-mobile">
            <p id="champion-name">{{build.champion.name}}</p>
            <p id="champion-title" class="is-capitalized">{{build.champion.title}}</p>
            <ul id="champion-tags">
              <li class="tag champion-tag is-dark" *ngFor="let tag of build.champion.tags">{{tag}}</li>
            </ul>
            <div class="select">
              <select id="map-select">
                <option class="map-option">
                  {{build.map.mapName}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <!-- Items row -->
        <div class="columns">
          <div class="column
            is-8-widescreen is-offset-4-widescreen
            is-10-desktop is-offset-2-desktop
            is-9-tablet is-offset-3-tablet
            is-12-mobile has-text-centered-mobile">
            <p class="troll-build-items-header">Items</p>
            <ul class="troll-build-objects">
              <li class="troll-build-item troll-build-object with-tooltip"
                [attr.data-tooltip]="build.item1.name">
                <img id="troll-build-item1-img" class="troll-build-item-img"
                  src="/api/img/items/{{build.item1.id}}">
              </li>
              <li class="troll-build-item troll-build-object with-tooltip"
                [attr.data-tooltip]="build.item2.name">
                <img id="troll-build-item2-img" class="troll-build-item-img"
                  src="/api/img/items/{{build.item2.id}}">
              </li>
              <li class="troll-build-item troll-build-object with-tooltip"
                [attr.data-tooltip]="build.item3.name">
                <img id="troll-build-item3-img" class="troll-build-item-img"
                  src="/api/img/items/{{build.item3.id}}">
              </li>
              <li class="troll-build-item troll-build-object with-tooltip"
                [attr.data-tooltip]="build.item4.name">
                <img id="troll-build-item4-img" class="troll-build-item-img"
                  src="/api/img/items/{{build.item4.id}}">
              </li>
              <li class="troll-build-item troll-build-object with-tooltip"
                [attr.data-tooltip]="build.item5.name">
                <img id="troll-build-item5-img" class="troll-build-item-img"
                  src="/api/img/items/{{build.item5.id}}">
              </li>
              <li class="troll-build-item troll-build-object with-tooltip"
                [attr.data-tooltip]="build.item6.name">
                <img id="troll-build-item6-img" class="troll-build-item-img"
                  src="/api/img/items/{{build.item6.id}}">
              </li>
            </ul>
          </div>
        </div>
        <!-- Summoner Spells and Trinket row -->
        <div class="columns">
          <div class="column
            is-3-widescreen is-offset-4-widescreen
            is-4-desktop is-offset-2-desktop
            is-4-tablet is-offset-3-tablet
            is-12-mobile has-text-centered-mobile">
            <p class="troll-build-summoner-spells-header">Summoner Spells</p>
            <ul class="troll-build-objects">
              <li class="troll-build-summoner-spell troll-build-object with-tooltip"
                [attr.data-tooltip]="build.summonerSpell1.name">
                <img id="troll-build-summoner-spell1-img" class="troll-build-summoner-spells-img"
                  src="/api/img/summoner-spells/{{build.summonerSpell1.id}}">
              </li>
              <li class="troll-build-summoner-spell troll-build-object with-tooltip"
                [attr.data-tooltip]="build.summonerSpell2.name">
                <img id="troll-build-summoner-spell2-img" class="troll-build-summoner-spells-img"
                  src="/api/img/summoner-spells/{{build.summonerSpell2.id}}">
              </li>
            </ul>
          </div>
          <div class="column
            is-2-widescreen is-offset-1-widescreen
            is-2-desktop is-offset-1-desktop
            is-2-tablet is-offset-1-tablet
            is-12-mobile has-text-centered-mobile">
            <p class="troll-build-trinket-header">Trinket</p>
            <ul class="troll-build-objects">
              <li class="troll-build-trinket troll-build-object with-tooltip"
                [attr.data-tooltip]="build.trinket.name">
                <img id="troll-build-trinket-img" class="troll-build-trinket-img"
                  src="/api/img/items/{{build.trinket.id}}">
              </li>
            </ul>
          </div>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'NotFound'">
        <article class="message is-danger">
          <div class="message-body">
            <p id="build-not-found-alert">Couldn't find a saved Troll Build with ID: {{buildId}}</p>
            <br>
            <a class="button try-random-build" routerLink="/builds">
              Try a random Troll Build
            </a>
          </div>
        </article>
      </ng-container>

      <ng-container *ngSwitchCase="'InvalidItems'">
        <article class="message is-danger">
          <div class="message-body">
            <p id="build-invalid-items-alert">This Troll Build with ID: {{buildId}} has become invalid due to outdated Items</p>
            <br>
            <a class="button try-random-build" routerLink="/builds">
              Try a random Troll Build
            </a>
          </div>
        </article>
      </ng-container>

      <ng-container *ngSwitchCase="'InvalidSummonerSpells'">
        <article class="message is-danger">
          <div class="message-body">
            <p id="build-invalid-summoner-spells-alert">This Troll Build with ID: {{buildId}} has become invalid due to outdated Summoner Spells</p>
            <br>
            <a class="button try-random-build" routerLink="/builds">
              Try a random Troll Build
            </a>
          </div>
        </article>
      </ng-container>

      <ng-container *ngSwitchCase="'InvalidTrinket'">
        <article class="message is-danger">
          <div class="message-body">
            <p id="build-invalid-trinket-alert">This Troll Build with ID: {{buildId}} has become invalid due to an outdated Trinket</p>
            <br>
            <a class="button try-random-build" routerLink="/builds">
              Try a random Troll Build
            </a>
          </div>
        </article>
      </ng-container>
    </div>
  </section>
</ng-container>
