<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin}">
<head>
    <title th:text="#{admin.items}">Items</title>
</head>
<body>
<div layout:fragment="content">
	<div id="items-difference-loading" class="ui icon message">
		<i class="notched circle loading icon"></i>
		<div class="content">
			<div class="header" th:text="#{admin.items.diff.looking}">
				Looking for new or updated Items from Riot.
			</div>
		</div>
	</div>
	<div id="items-difference-none" class="ui success hidden message">
		<i class="close icon"></i>
		<div class="header" th:text="#{admin.items.diff.none}">
			No difference in Items found.
		</div>
	</div>
    <div id="items-difference-segment" style="display:none;">
        <div  class="ui info message">
            <i class="close icon"></i>
            <div class="header" th:text="#{admin.items.diff}">Difference in Items found</div>
            <p th:text="#{admin.items.diff.msg(${latestRiotPatch})}">Differ msg</p>
        </div>
        <div id="items-difference-error-msg" class="ui mini negative hidden message">
            <i class="close icon"></i>
            <div class="header">An error has occurred.</div>
        </div>

        <h3 class="ui dividing header" th:text="#{admin.items.riot}">Difference in Items from Riot</h3>
        <table id="items-difference" class="ui celled table" width="100%">
            <thead>
            <tr>
                <th class="one wide"></th>
                <th class="three wide">
                    <div class="ui input">
                        <input class="items-difference-search-input" th:placeholder="#{admin.item.name.search}"
                               type="text" data-column-index="1" size="15"/>
                    </div>
                </th>
                <th class="three wide">
                    <div class="ui input">
                        <input class="items-difference-search-input" th:placeholder="#{admin.item.group.search}"
                               type="text" data-column-index="2" size="15"/>
                    </div>
                </th>
                <th class="three wide">
                    <div class="ui input">
                        <input class="items-difference-search-input" th:placeholder="#{admin.item.requiredChampion.search}"
                               type="text" data-column-index="3" size="15"/>
                    </div>
                </th>
                <th class="four wide">
                    <div class="ui input">
                        <input class="items-difference-search-input" th:placeholder="#{admin.item.maps.search}"
                               type="text" data-column-index="4" size="15"/>
                    </div>
                </th>
                <th class="two wide"></th>
            </tr>
            <tr>
                <th class="one wide"></th>
                <th class="three wide" th:text="#{admin.item.name}">Name</th>
                <th class="three wide" th:text="#{admin.item.group}">Group</th>
                <th class="three wide" th:text="#{admin.item.requiredChampion}">Champion</th>
                <th class="four wide" th:text="#{admin.item.maps}">Maps</th>
                <th class="two wide"></th>
            </tr>
            </thead>
            <tfoot class="full-width">
            <tr>
                <th colspan="6">
                    <form id="save-items-form" class="ui form">
                        <div class="ui checkbox">
                            <input id="truncate" type="checkbox" name="truncate"/>
                            <label for="truncate" th:text="#{admin.items.trunc}">Truncate</label>
                        </div>
                        <button id="save-items-btn" type="submit" class="ui primary button"
                                th:text="#{admin.items.save}">Save Items
                        </button>
                    </form>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
    <div id="items-error-msg" class="ui mini negative hidden message">
        <i class="close icon"></i>
        <div class="header">An error has occurred.</div>
    </div>

    <h3 class="ui dividing header" th:text="#{admin.items}">Items</h3>
    <table id="items" class="ui celled table" width="100%">
        <thead>
        <tr>
            <th class="one wide"></th>
            <th class="three wide">
                <div class="ui input">
                    <input class="items-search-input" th:placeholder="#{admin.item.name.search}"
                           type="text" data-column-index="1" size="15"/>
                </div>
            </th>
            <th class="three wide">
                <div class="ui input">
                    <input class="items-search-input" th:placeholder="#{admin.item.group.search}"
                           type="text" data-column-index="2" size="15"/>
                </div>
            </th>
            <th class="three wide">
                <div class="ui input">
                    <input class="items-search-input" th:placeholder="#{admin.item.requiredChampion.search}"
                           type="text" data-column-index="3" size="15"/>
                </div>
            </th>
            <th class="four wide">
                <div class="ui input">
                    <input class="items-search-input" th:placeholder="#{admin.item.maps.search}"
                           type="text" data-column-index="4" size="15"/>
                </div>
            </th>
            <th class="one wide"></th>
            <th class="one wide"></th>
        </tr>
        <tr>
            <th class="one wide"></th>
            <th class="three wide" th:text="#{admin.item.name}">Name</th>
            <th class="three wide" th:text="#{admin.item.group}">Group</th>
            <th class="three wide" th:text="#{admin.item.requiredChampion}">Champion</th>
            <th class="four wide" th:text="#{admin.item.maps}">Maps</th>
            <th class="one wide"></th>
            <th class="one wide"></th>
        </tr>
        </thead>
    </table>
    <script th:inline="javascript" th:insert="~{admin/items/js/items.js}"></script>
</div>
</body>
</html>